{% extends "auth_base.html" %}
{% load static %}

{% block content %}


<div class="login-wrapper">

<div class="login-card">
     <h2 class="login-title">Sign In</h2>

      <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Username</label> 
            <input type="text" name="username" class="form-control" placeholder="Enter username">
        </div>

        <div class="mb-3"> 
            <label class="form-label">Password</label> 
            <input type="password" name="password" class="form-control" placeholder="Enter password"> 
        </div> 

        <button class="btn btn-login btn-block">Login</button>

        

      </form> 
</div>

</div>


{% endblock content %}
