{% load static %}



<!-- Footer -->
<footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a data-mdb-ripple-init class="btn btn-outline-primary btn-floating   m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

       
      <!-- Instagram -->
      <a data-mdb-ripple-init class="btn btn-outline-danger btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a data-mdb-ripple-init class="btn btn-outline-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a data-mdb-ripple-init class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
 
    <!-- Section: Text -->
    <section class="mb-4 ">
     <h5> 
    Our educational platform provides students with high-quality learning resources,
    interactive courses, and practical tools designed to support their academic
    journey. We aim to make learning accessible, engaging, and effective by
    combining modern technology with well-structured educational content.
    Students can explore different subjects, develop new skills, and improve
    their knowledge in a flexible and supportive online environment.
</h5>
    </section>
    <!-- Section: Text -->

    
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style=" background: linear-gradient(135deg,#248a50, #16aaa8);">
    © 2026 Copyright:
    <a class="text-reset fw-bold text-light " href="https://mdbootstrap.com/">Mohammad Alinimrawi</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
